html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.3;
    font-family: 'Roboto Condensed';
    background: #fff;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: #111;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
