html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Roboto';
    padding: 20px;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: #000;
    background: #fff;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

canvas {
    outline: none;
}


/* architecture */

#content {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 300px);
    height: 100%;
    overflow: hidden;
}

.chapter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    left: -100%;
    transition: all 0.5s ease;
    padding: 80px;
}

.chapter.current-chapter {
    left: 0;
}



/* story */

.story {
    max-width: 650px;
}

.story h2 {
    font-family: 'Merriweather';
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 100px;
}

.story-intro {
    font-size: 17px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 50px;
}


.story-img-frame {
    padding: 20px;
    background: #ddd;
    margin: 20px 0;
}

.story-quote {
    font-family: 'Merriweather';
    font-size: 22px;
    line-height: 26px;
    padding: 10px 30px;
    color: #e03a6c;
    border-left: 4px solid #e03a6c;
    margin: 40px 0;
}

.story img {
    max-width: 100%;
    height: auto;
    display: block;
}

.story-img-text {
    font-size: 11px;
    margin: 10px 0;
}

.story-tile-frame {
    width: 500px;
    border-left: 4px solid #e03a6c;
    padding: 40px;
    cursor: pointer;
    background: #eee;
}

.story-tile-frame:hover h4 {
    text-decoration: underline;
}

.story-tile-frame:hover .story-tile-button {
    color: #e03a6c;
}

.story-file-text {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.story-tile-image {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}

.story-tile-frame h4 {
    font-family: 'Merriweather';
    font-weight: 400;
    color: #e03a6c;
}

.story-tile-button {
    display: inline-block;
    margin-right: 4px;
    width: 24px;
    height: 24px;
    padding: 5px 1px 3px 7px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    background: #000;
    color: #fff;
}



/* graph */

.story-graph {
    margin-bottom: 40px;
    position: relative;
}

#carbon-slider {
    text-align: center;
}

body .story-graph-container .ui-widget.ui-widget-content {
    background: #ddd!important;
}

body .story-graph-container .ui-slider-handle {
    color: #000;
}




/* cases */

.top {
    height: calc(100% - 110px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bottom {
    height: 110px;
    background: #EBEBEB;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
}

#time-slider-container {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 300px);
    height: 100%;
    padding: 20px;
}



/* menu */

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    z-index: 100000;
    box-shadow: 5px 0 5px rgba(0,0,0,0.4);
    transition: all 0.5s ease;
}

.active #menu {
    width: 300px;
    left: 0;
    background: #ddd;
}

#menu:hover {

}

#menu-container {
    width: 300px;
    margin: 0 auto;
}

#menu #branding {
    text-align: center;
}


#branding h1 {
    font-family: 'Fira Sans';
    font-size: 84px;
    line-height: 72px;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0 50px;
    margin-bottom: 16px;
}

#branding h2 {
    font-family: 'Merriweather';
    font-size: 24px;
    line-height: 27px;
    color: #333;
    padding: 0 20px;
    margin-top: 0;
    font-weight: 300;
}

#intro-text {
    font-weight: 700;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
    transition: height 0.5s ease;
}

.menu-button {
    padding: 10px;
    color: #333;
    cursor: pointer;
    height: 110px;
    transition: all 0.2s ease;
    border-top: 1px solid #333;
}

.menu-button:last-child {
    border-bottom: 1px solid #333;
}

.menu-button:hover,
.menu-button.current-menu {
    background: #fff;
}

.menu-button-image {
    width: 125px;
    height: 100%;
    float: left;
}

.menu-button-image img {
    height: 100%;
    width: auto;
    display: block;
}

.menu-button-text {
    float: left;
    width: calc(100% - 125px);
    height: 100%;
    position: relative;
}

.menu-button-text h3 {
    font-family: 'Merriweather';
    font-size: 20px;
    line-height: 24px;
    margin: 2px 0 10px 0;
    font-weight: 300;
}

.menu-button-goto {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-transform: uppercase;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 10px;
}

.menu-button-triangle {
    display: inline-block;
    margin-left: 2px;
}



/* tools */

#tools h3 {
    font-family: 'Merriweather';
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-align: center;
}

.tools-set {
    display: inline-block;
    margin: 0 6px 6px 0;
}

.tools-container {
    color: #000;
    padding: 8px;
    background: #fff;
    margin-top: 6px;
    font-size: 12px;
}

.tools-set-svg {
    display: inline-block;
    vertical-align: top;
    height: 40px;
}

.tools-set svg,
.tools-set img {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tools-set svg rect,
.tools-set svg polygon {
    background: #000;
}

.tools-set .current svg,
.tools-set svg:hover {
    outline: 1px solid #e03a6c;
}

.tools-set .current img,
.tools-set img:hover {
    outline: 1px solid #e03a6c;
}

.tools-set-arrow {
    display: inline-block;
    width: 12px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    font-weight: 700;
    vertical-align: top;
}

.color-set input {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #aaa;
}

.color-set input:hover {
    border: 1px solid #fff;
}



/* slider */

.slider-container {
    padding: 10px 240px 0 0;
}

#time-slider {
    position: relative;
}

body .ui-widget.ui-widget-content {
    border: 0;
    border-radius: 0;
    background: #fff;
    height: 16px;
    padding-top: 8px;
    width: 100%;
}

body .ui-slider-handle {
    border-radius: 50%;
    background: transparent!important;
    border: 0!important;
    width: 24px!important;
    height: 24px!important;
    outline: none!important;
    cursor: pointer!important;
}

body .ui-slider-handle:hover {
    background: transparent!important;
}

body .ui-slider-horizontal .ui-slider-range-min {
    background: #e03a6c;
    border-radius: 0;
}

#time-slider .time-slider-text {
    width: 300px;
}

.time-slider-text {
    position: absolute;
    bottom: 50px;
    left: -44px;
    padding: 16px;
    min-width: 90px;
    background: #fff;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

.time-slider-text:after {
    position: absolute;
    bottom: -32px;
    left: 40px;
    width: 32px;
    height: 32px;
    background-image: url('../img/triangle.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: '';
}

#time-slider-year {
    font-family: 'Fira Sans';
    font-weight: 100;
    font-size: 48px;
    line-height: 1;
    color: #000;
}

.time-slider-slr-pre {
    font-family: 'Merriweather';
    font-size: 14px;
    line-height: 18px;
    color: #e03a6c;
    display: inline-block;
    margin-right: 6px;
}

#time-slider-slr-nr {
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    top: 4px;
    color: #000;
}

.time-label {
    position: absolute;
    top: 30px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    background: #000;
    color: #e03a6c;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.time-label.time-label-highlighted {
    color: #fff;
}

.time-label:after {
    position: absolute;
    top: -12px;
    left: 20px;
    width: 20px;
    height: 12px;
    background-image: url('../img/triangle2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    content: '';
}



/* tiles */

#tiles {
    transition: all 0.6s ease;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-left: 40px;
}

.tile {
    width: 850px;
    padding: 10px 30px 40px 30px;
    float: left;
    color: #000;
    height: 100%;
    overflow: auto;
}

.tile-head {
    padding: 10px 80px;
    text-align: center;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.tile.current .tile-head {
    transform: scale(1);
}

.tile h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    font-family: 'Fira Sans';
    margin: 0;
    text-transform: uppercase;
}



.tile h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Merriweather';
    margin: 4px 0 0 0;
    color: #e03a6c;
}

.tile-canvas {
    width: 100%;
    height: 460px;
    touch-action: none;
    background: transparent;
    transform: scale(0.5);
    transition: all 0.5s ease;
}

.tile.current .tile-canvas {
    transform: scale(1);
}

.tile-body {
    padding: 10px;
    display: none;
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
}

.tile.current .tile-body {
    display: block;
}

.tile-body h4 {
    font-size: 24px;
    font-family: 'Fira Sans';
    margin: 20px 0 0 0;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}


/* minimized */

.minimized .tile {
    width: 300px;
    box-shadow: none;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}

.minimized .tile h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.minimized .tile h3,
.minimized .tile-body {
    display: none;
}

.minimized #tiles {
    left: 0!important;
    transition: none;
    width: 100%!important;
    height: 100%;
    overflow: auto;
}

.minimized .tile-canvas {
    margin-top: -40px;
}



/* carroussel */

.slider-button {
    z-index: 10;
    width: 40px;
    height: 40px;
    position: absolute;
    top: calc(50% - 20px);
    border-radius: 50%;
    background: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    color: #222;
    text-align: center;
    font-size: 40px;
    padding-top: 6px;
    line-height: 20px;
    cursor: pointer;
}

.minimized .slider-button {
    display: none!important;
}

.slider-button-next {
    right: 10px;
}

.slider-button-next:after {
    content: '›';
}

.slider-button-prev {
    left: 10px;
}

.slider-button-prev:after {
    content: '‹';
}

.slider-scrim {
    position: absolute;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

#slider-scrim-left {
    left: 0;
    width: 40px;
    background-image: url('../img/scrim/scroller-scrim-left.png');
}

#slider-scrim-right {
    right: 0;
    width: 100px;
    background-image: url('../img/scrim/scroller-scrim-right.png');
}



/* ppm graph */

#ppm-graph {
    width: 400px;
    height: 400px;
}


/* helper */

.helper {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px 40px 10px 10px;
    background: #fde200;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.helper-close {
    position: absolute;
    right: 4px;
    top: 4px;
    background: #fff;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #555;
    text-align: center;
}

.helper-close:hover {
    color: #000;
}